@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject IConfiguration Configuration
@implements IAsyncDisposable

<PageTitle>Reminders</PageTitle>
<h1>Reminders</h1>
<ul id="messagesList">
    @foreach (string reminder in reminders)
    {
        <li>@reminder</li>
    }
</ul>
@code {
    private HubConnection? hubConnection;
    private List<string> reminders = new();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            //.WithUrl($"{Configuration["apiLocation"]}/api/pageantHub")
            .WithUrl("http://localhost:5171/api/pageantHub")
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("Navigate", (message) =>
        {
            string encodedMsg = $"{message}";
            reminders.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
